@layer base {
    .radix-themes {
        font-family: var(--font-sans) !important;
    }

    :root {
        /* https://rsms.me/inter/#usage */
        font-feature-settings:
            "liga" 1,
            "calt" 1; /* fix for Chrome */
    }

    html {
        /* Never change this default! */
        @apply text-base tracking-tight text-black;
    }

    p,
    body {
        @apply text-base;
    }

    a {
        @apply text-primary hover:underline;
    }

    button:focus {
        @apply outline-hidden;
    }

    h1 {
        @apply text-2xl; /* 24px */
        @apply font-bold;
        @apply leading-p-130;
    }

    h2 {
        @apply text-xl; /* 21px */
        @apply font-bold;
        @apply leading-p-130;
    }

    h3 {
        @apply text-lg; /* 18px */
        @apply font-bold;
        @apply tracking-normal;
    }

    h4 {
        @apply text-md; /* 16 px */
        @apply leading-p-120 tracking-tight;
    }

    h5 {
        @apply text-base; /* 14 px */
        @apply leading-p-120 tracking-tight;
    }

    h6 {
        @apply text-sm; /* 14 px */
        @apply leading-p-110 tracking-tight;
    }
}
